.footerContainer {
    background-color: gray;
    padding: 15px;
    font-size: 20px;
}

.footerContainer.dark {
    background-color: black;
    color: white;
}

.logoContainer {
    width: 100px;
    margin-bottom: 10px;
}

.logo {
    width: 100%;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: black
}

.link.dark{
    color: white;
}