/* Colrs */

:root {
    --white: #FFFFFF;
    --black: #2D3436;
    --orange: #FF7675;
    --purple: #6C5CE7;
    --yellow: #FDCB6E;
    --pink: #E84393;
    --green: #55EFC4;
    --darkGreen: #00B894;
    --pearl: #A29BFE;
    --gray: #ADADAD;
    --includeGray: #d8d8d8;
    --includeGreen: #93e5ce;
    --includeBlue: #0984E3;
    --hoverYellow: #FFEAA7;
    --submitActive: #5144af;
    --darkGray: #5C5C5C;
    --lightPink: #FD79A8;
    --lightBlue: #74B9FF;
    --shadow: rgba(38, 50, 56, 0.16);
    --shadow2: rgba(38, 50, 56, 0.1);
    --shadow3: rgba(38, 50, 56, 0.08);
    --input: rgba(194, 194, 194, 0.24);
    --input2: rgba(194, 194, 194, 0);
    --menu: rgba(255, 255, 255, 0.95);
}

/* Body */

body {
    display: flex;
    flex-direction: column;
}

/* Layout */

.layout {
    width: 81.25%;
    padding-left: 9.375%;
    padding-right: 9.375%;
}

/* Header */

.header {
    order: 1;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 96px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px var(--shadow);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.navbar__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    cursor: pointer;
}

.dropMenu__button {
    display: none;
    border: none;
    background: var(--white);
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    color: var(--black);
}

.nav__links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.active {
    color: var(--black);
}

.unactive {
    font-weight: 400;
    color: var(--purple);
}

.dot {
    color: var(--yellow);
}

.close {
    display: none;
    padding: 10px;
    border-radius: 14px;
    background-color: var(--orange);
}

.signIn {
    width: 170px;
    height: 64px;
    background: var(--black);
    border: none;
    border-radius: 999px;

    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.header__background {
    display: flex;
    justify-content: right;
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
}

.mainBackground {
    opacity: 0.4;
    position: relative;
    z-index: -2;
}

.mainBackground-mobile {
    display: none;
    opacity: 0.4;
    position: relative;
    z-index: -2;
}

.dotBackground {
    position: absolute;
    z-index: -2;
    top: 15%;
}

.dotBackground-mobile {
    display: none;
    position: absolute;
    z-index: -2;
    top: 15%;
}

.waveBackground-mobile {
    display: none;
    z-index: -2;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 10px;
}

.header__content {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    color: var(--black);

    padding-top: 80px
}

.header__title {
    text-align: center;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    letter-spacing: -3px;
    text-shadow: 0px 4px 0px var(--white);
}

.header__subtitle {
    text-align: center;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -1px;
}

.header__fine {
    display: inline-block;
    position: relative;
    color: var(--pink);
}

.header__fine::after {
    content: '';
    display: block;
    width: 110%;
    height: 51px;
    background: var(--green);
    border-radius: 999px;
    z-index: -1;

    position: absolute;
    left: -4.5%;
    top: 59%;
}

.arrow {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 14px;
}

.arrow__img {
    cursor: pointer;
}

.gridTiles {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--black);

    margin-top: 64px;

    display: grid;
    grid-gap: 30px;
    width: 100%;
    grid-template-columns: 270fr 240fr 200fr 170fr 170fr;
    grid-template-rows: 102px 26px 222px 172px 20px 62px 72px;
    grid-template-areas:
        "text green green text2 text2"
        "yellow green green text2 text2"
        "yellow green green pearl blue"
        "yellow pink purple purple orange"
        "button pink purple purple orange"
        "button pink purple purple cell1"
        "cell2 cell3 purple purple e7";

}

.gridText {
    grid-area: text;
}

.gridText-2 {
    display: flex;
    align-items: flex-end;
    grid-area: text2;
}

.gridYellow {
    grid-area: yellow;
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 32px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2px;
}

.gridYellow__subtext {
    font-size: 16px;
    font-weight: 400;
}

.gridGreen {
    grid-area: green;
    background-color: var(--darkGreen);
    border-radius: 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -1px;
    color: var(--white);
}

.gridPink {
    grid-area: pink;
    background-color: var(--pink);
    border-radius: 10px;
}

.gridPurple {
    grid-area: purple;
    background-color: var(--purple);
    border-radius: 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
    color: var(--white);

}

.gridPearl {
    grid-area: pearl;
    background-color: var(--pearl);
    border-radius: 10px;
}

.gridBlue {
    background: url('../public/nike.svg') 50%/cover no-repeat;
    border-radius: 10px;
    grid-area: blue;
}

.gridOrange {
    grid-area: orange;
    background-color: var(--orange);
    border-radius: 10px;
}

.gridButton {
    grid-area: button;
    cursor: pointer;
    background: var(--white);
    border-radius: 999px;
    box-shadow: 0px 8px 24px var(--shadow2), 0px 16px 32px var(--shadow3);
    border: none;

    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--purple);
}

/* Pricing */

.pricing {
    order: 2;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    color: var(--black);

    padding-top: 80px
}

.pricing__title {
    text-align: center;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -1px;
}

.pricing__subtitle {
    margin-top: 30px;
    color: var(--gray);
    font-weight: 700;
    text-align: center;
    font-size: 32px;
}

.pricing__monthly {
    display: inline-block;
    position: relative;
    color: var(--purple);
}

.pricing__monthly::after {
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    background: var(--yellow);
    border-radius: 999px;
    z-index: -1;
    position: absolute;
    top: 68%;
}

.priceContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px
}

.priceContainer__elem {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    width: 31.62%;
    padding: 32px;
}

.priceContainer__elem:nth-child(2) {
    background: var(--white);
    position: relative;
    box-shadow: 0px 8px 24px var(--shadow2), 0px 16px 32px var(--shadow3);
}

.priceContainer__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--purple);
}

.priceName__container {
    display: flex;
    justify-content: space-between;
}

.best {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple);
    border-radius: 99px;
    width: 30%;
    height: 32px;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
}

.price {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
}

.period {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
}

.include__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;

    border-radius: 999px;
    margin-right: 16px;
}

.include__icon.gray {
    background: var(--includeGray);
}

.include__icon.yellow {
    background: var(--yellow);
}

.include__icon.green {
    background: var(--includeGreen);
}

.include__elem {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.priceContainer__button {
    width: 100%;
    height: 64px;
    border: 1px solid var(--gray);
    border-radius: 16px;
    background-color: var(--white);
    color: var(--purple);

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    transition: 0.2s all;
}

.priceContainer__button:hover {
    cursor: pointer;
    background: var(--purple);
    color: var(--white);
    font-family: 'Inter';
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    transition: 0.2s all;
}

.wiggle {
    position: absolute;
    width: 54%;
    bottom: -30px;
    left: -9%;
    z-index: -1;
}

.wiggle__img {
    width: 100%;
}

/* Feature section */

.benefits {
    order: 3;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    color: var(--black);

    padding-top: 100px
}

.benefits__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.benefits__discription {
    width: 80%;
    padding-top: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    margin-bottom: 40px;
}

.benefits__container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    width: 100%;
}

.benefits__elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.benefits__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    border-radius: 999px;
}

.benefits__icon img {
    width: 100%;
}

.benefits__icon.pink {
    background: var(--pink);
}

.benefits__icon.blue {
    background: var(--includeBlue);
}

.benefits__icon.purple {
    background: var(--purple);
}

.benefits__icon.green {
    background: var(--darkGreen);
}

.benefits__elem__title {
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
}

.benefits__elem__discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.benefits__elem__button {
    cursor: pointer;
    width: 146px;
    height: 48px;
    background: var(--white);
    border: 1px solid var(--gray);
    border-radius: 16px;

    color: var(--purple);
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    margin-top: 8px;
    transition: 0.2s all;
}

.benefits__elem__button:hover {
    background: var(--purple);
    color: var(--white);
    transition: 0.2s all;
}

/* Footer */

.footer {
    order: 4;
    margin-top: 160px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    color: var(--black);
}

.footer__container {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.footer__title {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--gray);
}

.contacts {
    margin-top: 8px;
    margin-bottom: 40px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.contacts__elem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;

    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    transition: 0.2s all;
    background: var(--white);
}

.contacts__elem:hover {
    background: var(--hoverYellow);
    transition: 0.2s all;
}

.email {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--purple);
}

.information {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.information__elem {
    margin-top: 16px;
}

.information__elem span {
    cursor: pointer;
}

.inputs__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input__block {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 47.36%;
    align-items: center;
    background: var(--input);
    border-radius: 16px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.input {
    flex-grow: 1;
    background: none;
    border: none;
    height: 32px;
    margin-left: 3%;
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
}

.input__image {
    width: 40px;
    height: 40px;
}

.input:focus {
    border: none;
    outline: 0;
}

.input::placeholder {
    color: var(--black);
}

.textInput {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: var(--purple);

    padding: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    resize: none;
    background: var(--input);
    width: 65%;
    height: 80px;
    border: 2px solid var(--input2);
    transition: 0.2s all;
}

.textInput:focus {
    transition: 0.2s all;
    border: 2px solid var(--purple);
    outline: 0;
}

.textInput::placeholder {
    color: var(--purple);
    align-items: center;
    background: url('../public/icon-edit.svg') no-repeat;
    background-position: right;
}

.submitButton {
    cursor: pointer;
    height: 80px;
    width: 30%;
    background: var(--purple);
    box-shadow: 0px 8px 24px var(--shadow2), 0px 16px 32px var(--shadow3);
    border-radius: 16px;
    border: none;

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: var(--white);
    text-shadow: 0px 2px 4px var(--shadow), 0px 4px 8px var(--shadow3);
    text-transform: uppercase;
    transition: 0.2s all;
}

.submitButton:active {
    background: var(--submitActive);
    transition: 0.2s all;
}

.footer__mobile__container {
    display: none;
}

.wave__container {
    position: relative;
    width: 100%;
}

.wave {
    margin-top: 40px;
    position: absolute;
    top: 1%;
    width: 100%;
}

/* Adaptive */

@media screen and (max-width: 992px) {

    /* Layout mobile */

    .layout {
        width: 91.68%;
        padding-left: 4.16%;
        padding-right: 4.16%;
    }

    /* Header mobile */

    .header>.layout {
        width: 100%;
        padding: 0;
    }

    .navbar {
        height: 72px;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0%;
        left: 0%;
        background: var(--menu);
        width: 100vw;
        height: 100vh;
        z-index: 3;
    }

    .logo__title {
        font-size: 24px;
        color: var(--darkGray);
    }

    .logo__img {
        display: none;
    }

    .dropMenu__button {
        display: block;
    }

    .dot {
        display: none;
    }

    .close {
        display: block;
    }

    .signIn {
        box-shadow: 0px 2px 4px var(--shadow), 0px 4px 8px var(--shadow3);
        border-radius: 8px;
        letter-spacing: 0.2px;
        font-size: 18px;
        width: 128px;
        height: 40px;
    }

    .mainBackground {
        display: none;
    }

    .dotBackground {
        display: none;
    }

    .mainBackground-mobile {
        display: inline;
    }

    .dotBackground-mobile {
        display: inline;
    }

    .waveBackground-mobile {
        display: inline;
    }

    .header__background {
        top: 68px;
    }

    .header__title {
        font-size: 64px;
        line-height: 77px;
        margin-bottom: 16px;
        letter-spacing: -1px;
        text-shadow: 0px 4px 0px var(--white);
        padding-left: 4.16%;
        padding-right: 4.16%;
    }

    .header__fine::after {
        height: 32px;
    }

    .header__subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
        padding-left: 4.16%;
        padding-right: 4.16%;
    }

    .arrow {
        display: block;
    }

    .gridTiles {
        display: grid;
        grid-gap: 4.17vw;
        width: 100%;
        height: 137.5vw;
        grid-template-areas:
            "cell1 blue blue cell2 cell3"
            "yellow blue blue cell4 cell5"
            "yellow blue blue green2 green2"
            "yellow purple pink pink pink"
            "green purple pink pink pink"
            "green pink2 pink pink pink"
            "green pink2 button button cell7"
            "cell6 pink2 button button cell8"
            "cell9 pink2 cell10 cell11 cell12";
        grid-template-columns: 49fr 130fr 79fr 27fr 0fr;
        grid-template-rows: 46fr 0fr 107fr 86fr 35fr 31fr 11fr 11fr 48fr;
        margin-bottom: 32px;
    }

    .gridText {
        display: none;
    }

    .gridText-2 {
        display: none;
    }

    .gridYellow {
        grid-area: yellow;
        background: var(--yellow);
        font-size: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .gridYellow__subtext {
        display: none;
    }

    .gridGreen {
        font-size: 0;
        background: var(--green);
        grid-area: green2;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .gridPink {
        background: var(--green);
        grid-area: green;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .gridPurple {
        background: var(--pearl);
        grid-area: purple;
        font-size: 0;
    }

    .gridPearl {
        background: var(--lightPink);
        grid-area: pink;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .gridBlue {
        background: var(--lightPink);
        grid-area: pink2;
    }

    .gridOrange {
        background: var(--lightBlue);
        grid-area: blue;
    }

    .gridButton {
        background: var(--black);
        grid-area: button;

        font-weight: 700;
        font-size: 3.9vw;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: var(--white);
    }

    /* Pricing mobile */

    .pricing {
        padding-top: 40px;
        order: 3
    }

    .pricing__title {
        text-align: left;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.5px;
    }

    .pricing__subtitle {
        text-align: left;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;

        letter-spacing: -0.25px;

        color: var(--gray);
    }

    .pricing__monthly {
        color: var(--black);
    }

    .priceContainer {
        flex-direction: column;
    }

    .priceContainer__elem {
        width: 100%;
        border-radius: 16px;
        box-shadow: 0px 2px 4px var(--shadow), 0px 4px 8px var(--shadow3);
        margin-bottom: 24px;
    }

    .priceContainer__elem:nth-child(2) {
        box-shadow: 0px 2px 4px var(--shadow), 0px 4px 8px var(--shadow3);
    }

    .wiggle {
        display: none;
    }

    /* Feature section mobile */

    .benefits {
        order: 2;
        padding-top: 40px;
    }

    .benefits__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.25px;
    }

    .benefits__discription {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }

    .benefits__container {
        display: grid;
        grid-template-columns: 44% 44%;
        justify-content: space-between;
        width: 100%;
    }

    .benefits__icon {
        min-width: 53px;
        min-height: 53px;
        max-width: 53px;
        max-height: 53px;
    }

    .benefits__elem__title {
        margin-top: 17.5px;
        margin-bottom: 12px;
    }

    .benefits__elem__discription {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--darkGray);
    }

    .benefits__elem__button {
        width: 109.5px;
        height: 36px;
        border: 0.75px solid var(--gray);
        border-radius: 12px;

        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.2px;
        margin-bottom: 40px;
    }

    /* Footer mobile */

    .footer {
        margin-top: 40px;
    }

    .footer__container {
        display: none;
    }

    .footer__mobile__container {
        display: block;
        position: relative;
    }

    .copyright {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        text-align: center;
        letter-spacing: 0.2px;
    }

    .made {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;

        text-align: center;
        letter-spacing: 0.3px;
        color: var(--darkGreen);
    }

    .email {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
    }

    .contacts {
        justify-content: center;
        margin-top: 24px;
        width: 100%;
    }

    .contacts__elem {
        margin-right: 15px;
        margin-left: 15px;
    }

    .contacts__elem img {
        filter: grayscale(1) contrast(500%);
    }

    .wave__container {
        display: none;
    }

    .mobile__footer__back {
        position: absolute;
        bottom: -21.3%;
        left: -4.5%
    }
}

@media screen and (max-width: 359px) {

    /* Header mobile */

    .waveBackground-mobile {
        top: 0px;
    }

    .mainBackground-mobile {
        width: 100%;
    }
}