.infoContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mainInfoContainer{
    display: flex;
    width: 60%;
}

.imageContainer {
    min-width: 200px;
    max-width: 200px;
    border-radius: 15px;
    height: 300px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.heading{
    color: red;
}

.linksContainer{
    width: 20%;
    margin-left: 3%;
}

.link{
    display: block;
    color: rgb(53, 53, 210);
}


@media screen and (max-width: 768px) {
    .mainInfoContainer{
        flex-direction: column;
        width: 100%;
    }

    .linksContainer{
        width: 100%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 470px) {
    .infoContainer {
        flex-direction: column;
    }

    .mainInfoContainer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .heading{
        text-align: center;
    }

    .linksContainer{
        margin-left: 0%;
    }
}