.cardContainer {
    position: relative;
    width: 100%;
    border: 2px solid var(--black);
    padding: 10px;
}

.cardContainer.dark {
    border: 2px solid var(--borderGray);
    background-color: var(--backgroundGray);
}

.imgContainer {
    display: block;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name {
    cursor: pointer;
    font-size: 25px;
    color: var(--red);
    text-transform: uppercase;
}

.name.dark {
    color: var(--yellow);
}

.name:hover {
    text-decoration: underline;
}

.disc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    width: 100%;
    -webkit-line-clamp: 3;
    height: 67.5px;
}

.disc.dark {
    color: var(--blue);
}

.favouriteButton {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;
}

.favouriteButton.favouriteUnactive{
    color: var(--favGray);
    transition: 0.2s all;
}

.favouriteButton.favouriteActive{
    color: var(--favRed);
    transition: 0.2s all;
}