.elemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    grid-gap: 20px;
}

@media screen and (max-width: 700px) {
    .elemsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    .elemsContainer {
        grid-template-columns: 1fr;
    }
}